img{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

.smallImg{
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
}

.rounded {
    border-radius:.25rem!important
}