<div class="navbar navbar-dark bg-dark justify-content-center">    
    <div class="navbar-brand">
        <img src="../../assets/lightning.png" width="30" height="30" class="d-inline-block align-top" alt="">
        tESLA Distribution
    </div>
</div>
<form [formGroup]="registerForm" (ngSubmit)="submitRegistration()" class="container">
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="page-header mb-4 mt-3">
                        <h2>Create account</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="username-form-field" class="form-field">
                            <mat-label>Username</mat-label>
                            <input id="username" matInput type="text"  formControlName ="username">
                            <mat-error id="username-error" *ngIf="registerForm.get('username')?.invalid">Username is required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="email-form-field" class="form-field">
                            <mat-label>Email</mat-label>
                            <input id="email" matInput type="email"  formControlName ="email">
                            <mat-error id="email-error" *ngIf="registerForm.get('email')?.invalid">Email is required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="password-form-field" class="form-field">
                            <mat-label>New password</mat-label>
                            <input id="password" matInput type="password"  formControlName ="password">
                            <mat-error id="password-error" *ngIf="registerForm.controls['password'].errors?.required !== undefined">Password is required!</mat-error>
                            <mat-error id="pattern-error" *ngIf="registerForm.controls['password'].errors?.pattern !== undefined">Passwords must contain eight characters, one uppercase letter, lowercase letter, number and special character!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="confirm-password-form-field" class="form-field">
                            <mat-label>Confirm password</mat-label>
                            <input id="confirmPassword" matInput type="password"  formControlName ="confirmPassword" [errorStateMatcher]="confirmPasswordMatcher">
                            <mat-error id="confirm-password-error" *ngIf="registerForm.get('confirmPassword')?.invalid">Password is required!</mat-error>
                            <mat-error id="passwords-error" *ngIf="registerForm.hasError('passwordsDontMatch')">Passwords don't match!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="name-form-field" class="form-field">
                            <mat-label>Name</mat-label>
                            <input id="name" matInput type="text"  formControlName ="name">
                            <mat-error id="name-error" *ngIf="registerForm.get('name')?.invalid">Name is required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="lastname-form-field" class="form-field">
                            <mat-label>Lastname</mat-label>
                            <input id="lastname" matInput type="text"  formControlName ="lastname">
                            <mat-error id="lastname-error" *ngIf="registerForm.get('lastname')?.invalid">Lastname is required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="dateOfBirth-form-field" class="form-field">
                            <mat-label>Date of birth</mat-label>
                            <input id="dateOfBirth" matInput type="date"  formControlName ="dateOfBirth">
                            <mat-error id="dateOfBirth-error" *ngIf="registerForm.get('dateOfBirth')?.invalid">Date of birth is required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="address-form-field" class="form-field">
                            <mat-label>Address</mat-label>
                            <mat-select id="address" name="address" matInput formControlName="address">
                                <mat-option *ngFor="let address of allAddresses" [value]="address.addressID">{{address.street}} {{address.number}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field id="role-form-field" class="form-field">
                            <mat-label>Role</mat-label>
                            <select formControlName="role" matNativeControl name="role" id="role">
                                <option>Clan ekipe</option>
                                <option>Dispecer</option>
                                <option>Radnik</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="page-header mb-5 mt-3">
                        <h2>Profile picture</h2>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <img [src]="imageSrc" class="img-fluid img-thumbnail w-75"/>
                <input type="file" formControlName="picture" name="picture" id="picture" (change)="onChange($event)" class="form-control-file btn-info mt-3"/>   
                <div class="alert alert-danger" *ngIf="picture!.invalid && picture!.touched">
                    <div *ngIf="picture!.errors!.required">Picture is required.</div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <input type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-block mt-3" value="Sign up"/>
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="button" routerLink="/" class="btn btn-secondary btn-block mt-3" value="Cancel"/>
                </div>
            </div>
        </div>
    </div>
    
</form>

