<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="navbar navbar-dark bg-dark justify-content-center">
    
        <div class="navbar-brand" >
            <img src="../../assets/lightning.png" width="30" height="30" class="d-inline-block align-top" alt="">
            tESLA Distribution
        </div> 
</div>  



<div class="container-fluid ">
    <div class="row mt-5 justify-content-around">
        <div class="col-3 align-self-mid">
            <img src="../assets/tesla_jt.jpg" class="img-fluid img-thumbnail">
        </div>
        <div class="col-3 align-self-start">
            <app-login></app-login>
            
        </div>
    </div>
</div>
<div class="container-fluid p-4">
    <div class="row fixed-bottom">
        <div class="col text-center p-3">
            <app-outage></app-outage>
        </div>
    </div>

</div>

    
    


<router-outlet></router-outlet>