<form [formGroup]="resolutionForm" (ngSubmit)="submitResolution" class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="cause-select">
                    <mat-label>Uzrok</mat-label>
                    <mat-select id="cause" name="cause" matInput formControlName="cause">
                        <mat-option value="Vreme">Vreme</mat-option>
                        <mat-option value="LjudskiFaktor">Ljudski Faktor</mat-option>
                        <mat-option value="Otkaz">Otkaz</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="subcause-select">
                    <mat-label>Podzrok</mat-label>
                    <mat-select id="subcause" name="subcause" matInput formControlName="subcause">
                        <mat-option value=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="construction-type">
                    <mat-label>Konstrukcija</mat-label>
                    <mat-select if="construction" name="construction" matInput formControlName="construction">
                        <mat-option class="Podzemni">Podzemni</mat-option>
                        <mat-option class="Nadzemni">Nadzemni</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="material-type">
                    <mat-label>Materijal</mat-label>
                    <mat-select id="material" name="material" matInput formControlName="material">
                        <mat-option value="Metal">Metal</mat-option>
                        <mat-option value="Plastika">Plastika</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
    </div>

   
</form> 
