<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="postalNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Postal Number </th>
            <td mat-cell *matCellDef="let element"> {{element.postalNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
        <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
            <td mat-cell *matCellDef="let element"> {{element.street}} </td>
        </ng-container>
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone number </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <mat-cell>
                    <button mat-button class="btn btn-warning" (click)="edit(element, content)" [disabled]="role !== 'Admin'">
                       <mat-icon>edit</mat-icon>
                   </button>
                   <button mat-button class="btn btn-danger" (click)="delete(element, contentDelete)" [disabled]="role !== 'Admin'">
                       <mat-icon>delete</mat-icon>
                   </button>
                </mat-cell>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[2, 3, 4]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-edit">Edit consumer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editConsumerForm" (ngSubmit)="submitEdit()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name">First name</label>
                    <input formControlName="name" type="text" name="name" id="name" class="form-control" placeholder="{{consumerForEdit.firstName}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input formControlName="lastName" type="text" name="lastName" id="lastName" class="form-control" placeholder="{{consumerForEdit.lastName}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="address">Address</label>
                    <select formControlName="address" type="text" id="address" name="address" class="form-control">
                        <option *ngFor="let address of allAddresses" [value]="address.addressID" [selected]="address.postalNumber === consumerForEdit.address.postalNumber && address.city === consumerForEdit.address.city && address.street === consumerForEdit.address.street && address.number === consumerForEdit.address.number">{{address.postalNumber + ', ' + address.city + ', ' + address.street + ', ' + address.number}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input formControlName="phoneNumber" type="number" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="{{consumerForEdit.phoneNumber}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="type">Type</label>
                    <select formControlName="type" type="text" id="type" name="type" class="form-control">
                        <option value="Residential" [selected]="consumerForEdit.type == 0">Residential</option>
                        <option value="Commercial" [selected]="consumerForEdit.type == 1">Commercial</option>
                    </select>
                </div>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="submitEdit()" [disabled]="!hasInput()">Edit</button>
    </div>
</ng-template>

<ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete">Delete consumer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the consumer with the ID: {{deleteConsumerID}} ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
      </div>
</ng-template>