<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a routerLink="WorkPlanBasicInfo" class="list-group-item list-group-item-action">Basic information</a>
                <a routerLink="WorkPlanMultimedia" class="list-group-item list-group-item-action">Multimedia attachments</a>
                <a routerLink="WorkPlanDevices" class="list-group-item list-group-item-action">Devices</a>
                <a routerLink="WorkPlanInstruction" class="list-group-item list-group-item-action">Instructions</a>
            </div>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>