<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="container" style="border: 1px solid black; border-radius: 5%;">
                <a routerLink="WorkPlanBasicInfo">
                    <div class="row field" style="border-top-left-radius: 10%;border-top-right-radius: 10%">
                        Basic information
                    </div>
                </a>
                <a routerLink="WorkPlanMultimedia">
                    <div class="row field">
                        Multimedia attachments
                    </div>
                </a>
                <a routerLink="WorkPlanDevices">
                    <div class="row field">
                        Devices
                    </div>
                </a>
                <a routerLink="WorkPlanInstruction">
                    <div class="row field" style="border-bottom-left-radius: 10%;border-bottom-right-radius: 10%">
                        Instructions
                    </div>
                </a>
            </div>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>