<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark" >
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="navbar-brand">{{pageDescription}}</div>
                </li>
            </ul>
            <div class="navbar-brand">{{fullName}}</div>
            <a routerLink="Profile">
                <img src="../../assets/profil.png" class="rounded-circle" width="50px" height="50px">
            </a>
        </div>
    </nav>
    
    <div class="row">
        <div class="col-1">
            <div class="d-flex vl-100" id="wrapper" style="position: absolute;">
                <!-- Sidebar -->
                    <div class="bg-dark navbar-light vh-100 border-right" id="sidebar-wrapper">
            
                        <div class="list-group list-group-flush ">
                            <a routerLink="ViewAllProfiles" class="list-group-item list-group-item-action bg-dark">All profiles</a>
                            <a routerLink="Notifications" class="list-group-item list-group-item-action bg-dark">Notifications</a>
                            <a routerLink="WorkPlan" class="list-group-item list-group-item-action bg-dark">Work plans</a>
                            <a routerLink="WorkAccount" class="list-group-item list-group-item-action bg-dark">Work account</a>
                            <a routerLink="Consumers" class="list-group-item list-group-item-action bg-dark">Consumers</a>
                            <a routerLink="Incidents" class="list-group-item list-group-item-action bg-dark">Incidents</a>
                            <a routerLink="Documents" class="list-group-item list-group-item-action bg-dark">Documents</a>
                            <a routerLink="Devices"  class="list-group-item list-group-item-action bg-dark">Devices</a>
                            <a routerLink="Settings" class="list-group-item list-group-item-action bg-dark">Settings</a>
                            <a routerLink="../Login" class="list-group-item list-group-item-action bg-dark">Log out</a>
                        </div>
                    </div>  
            </div>
        </div>
        <div class="col-11">
            <router-outlet></router-outlet>
        </div>
    </div>

    
</div>