<div class="container mt-2">
    <div class="row">
        <div class="col-md-9 text-left">
            <button class="btn btn-success" (click)="openAddConsumerModal(content)">New</button>
        </div>
        <div class="col-md-3">
            <div class="text-right">
                <button type="button" class="btn btn-primary" style="margin-left: 30px;" (click)="filterConsumers()">Filter</button>
                <button type="button" class="btn btn-secondary" style="margin-left: 15px;" (click)="resetFilter()">Reset</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="input-group form-group">
                <select type="text" id="consumerTypeFilter" name="type" class="form-control">
                    <option hidden selected>Select one...</option>
                    <option value="Residential">Residential</option>
                    <option value="Commercial">Commercial</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div [hidden]="filteredConsumers.length !== 0">
                <hr/>
                <h5 style="text-align: center;">There are no work planes with the defined parameters.</h5>
            </div>
            <div [hidden]="filteredConsumers.length === 0">
                <app-consumers-filtered [filteredData]="filteredConsumers" [allAddresses]="allAddresses"></app-consumers-filtered>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add consumer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addConsumerForm" (ngSubmit)="submitConsumer()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="name-form-field" class="form-field">
                        <mat-label>First name</mat-label>
                        <input id="name" matInput type="text"  formControlName ="name">
                        <mat-error id="name-error" *ngIf="addConsumerForm.get('name')?.invalid">Name is required!</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="lastName-form-field" class="form-field">
                        <mat-label>Last name</mat-label>
                        <input id="lastName" matInput type="text"  formControlName ="lastName">
                        <mat-error id="lastName-error" *ngIf="addConsumerForm.get('lastName')?.invalid">Last name is required!</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="type-select">
                        <mat-label>Address</mat-label>
                        <mat-select id="address" name="address" matInput formControlName="address">
                            <mat-option *ngFor="let address of allAddresses" [value]="address.addressID">{{address.postalNumber + ', ' + address.city + ', ' + address.street + ' ' + address.number}}</mat-option>
                        </mat-select>
                        <mat-error id="address-error" *ngIf="addConsumerForm.get('address')?.invalid">Address is required!</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="phoneNumber-form-field" class="form-field">
                        <mat-label>Phone number</mat-label>
                        <input id="phoneNumber" matInput type="text"  formControlName ="phoneNumber">
                        <mat-error id="phoneNumber-error" *ngIf="addConsumerForm.get('phoneNumber')?.invalid">Phone number is required!</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="type-select">
                        <mat-label>Type</mat-label>
                        <mat-select id="type" name="type" matInput formControlName="type">
                            <mat-option value="Residential">Residential</mat-option>
                            <mat-option value="Commercial">Commercial</mat-option>
                        </mat-select>
                        <mat-error id="type-error" *ngIf="addConsumerForm.get('type')?.invalid">Type is required!</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="submitConsumer()" [disabled]="!addConsumerForm.valid">Add</button>
    </div>
</ng-template>