<div class="navbar navbar-dark bg-dark justify-content-center">    
    <div class="navbar-brand">
        <img src="../../assets/lightning.png" width="30" height="30" class="d-inline-block align-top" alt="">
        tESLA Distribution
    </div>
</div>
<div class="container-fluid ">
    <div class="row mt-5 justify-content-around">
        <div class="col-3 align-self-mid">
            <img src="../assets/tesla_jt.jpg" class="img-fluid img-thumbnail">
        </div>
        <div class="col-3 align-self-start">
            <form (ngSubmit)="logIn()">   
                <div class="col form-group w-50">    
                    <input type="text" class="mt-2" placeholder="Username">
                    <input type="password" class="mt-2" placeholder="Password">
                    <button class="btn btn-info mt-2" type="submit">Log in</button>
                </div>  
            </form>
            <div class="container mt-2">
                <a routerLink="/Register" class="btn active w-50 mt-1">Create account</a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #3b5998" href="#!" role="button">
                    <i class="fab fa-facebook-f">Continue with Facebook</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #dd4b39" href="#!" role="button">
                    <i class="fab fa-google">Continue with Google</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #55acee" href="#!" role="button">
                    <i class="fab fa-twitter">Continue with Twitter</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #ac2bac" href="#!" role="button">
                    <i class="fab fa-instagram">Continue with Instagram</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #0082ca" href="#!" role="button">
                    <i class="fab fa-linkedin-in">Continue with LinkedIn</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #333333" href="#!" role="button">
                    <i class="fab fa-github">Continue with Github</i>
                </a><br>
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid p-4">
    <div class="row fixed-bottom">
        <div class="col text-center p-3">
            <button class="btn btn-danger" (click)="openReportOutageModal(content)">Report outage</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Report outage</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reportOutageForm" (ngSubmit)="submitReport()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="reason"><span style="color: red;">*</span>Reason</label>
                    <select formControlName="reason" type="text" id="reason" name="reason" class="form-control">
                        <option value="Nema struje">Nema struje</option>
                        <option value="Postoji kvar">Postoji kvar</option>
                        <option value="Treperenje svetla">Treperenje svetla</option>
                        <option value="Povratak struje">Povratak struje</option>
                        <option value="Delemicna struja">Delimicna struja</option>
                        <option value="Problemi s naponom">Problemi s naponom</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="reason!.invalid && reason!.touched">
                        <div *ngIf="reason!.errors!.required">Reason is required.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="address"><span style="color: red;">*</span>Address</label>
                    <input formControlName="address" type="text" name="address" id="address" class="form-control">
                    <div class="alert alert-danger" *ngIf="address!.invalid && address!.touched">
                        <div *ngIf="address!.errors!.required">Address is required.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input formControlName="comment" type="text" name="comment" id="comment" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" type="text" name="name" id="name" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input formControlName="lastName" type="text" name="lastName" id="lastName" class="form-control">
                </div>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="submitReport()" [disabled]="!reportOutageForm.valid">Submit report</button>
    </div>
</ng-template>