<form>   
        <div class="col form-group w-50">    
            <input type="text" class="mt-2" placeholder="Username">
            <input type="password" class="mt-2" placeholder="Password">
            <input type="button" class="btn btn-info mt-2" value="Log In">
        </div>  
</form>
<div class="container mt-2">
    <a class="btn btn-primary w-50 mt-1" style="background-color: #3b5998" href="#!" role="button">
        <i class="fab fa-facebook-f">Continue with Facebook</i>
    </a><br>
    <a class="btn btn-primary w-50 mt-1" style="background-color: #dd4b39" href="#!" role="button">
        <i class="fab fa-google">Continue with Google</i>
    </a><br>
    <a class="btn btn-primary w-50 mt-1" style="background-color: #55acee" href="#!" role="button">
        <i class="fab fa-twitter">Continue with Twitter</i>
    </a><br>
    <a class="btn btn-primary w-50 mt-1" style="background-color: #ac2bac" href="#!" role="button">
        <i class="fab fa-instagram">Continue with Instagram</i>
    </a><br>
    <a class="btn btn-primary w-50 mt-1" style="background-color: #0082ca" href="#!" role="button">
        <i class="fab fa-linkedin-in">Continue with LinkedIn</i>
    </a><br>
    <a class="btn btn-primary w-50 mt-1" style="background-color: #333333" href="#!" role="button">
        <i class="fab fa-github">Continue with Github</i>
    </a><br>
</div>