<div class="navbar navbar-dark bg-dark justify-content-center">    
    <div class="navbar-brand">
        <img src="../../assets/lightning.png" width="30" height="30" class="d-inline-block align-top" alt="">
        tESLA Distribution
    </div>
</div>
<div class="container-fluid ">
    <div class="row mt-5 justify-content-around">
        <div class="col-3 align-self-mid">
            <img src="../assets/tesla_jt.jpg" class="img-fluid img-thumbnail">
        </div>
        <div class="col-3 align-self-start">
            <form (ngSubmit)="logIn()">   
                <div class="col form-group w-50">    
                    <input type="text" class="mt-2" placeholder="Username">
                    <input type="password" class="mt-2" placeholder="Password">
                    <button class="btn btn-info mt-2" type="submit">Log in</button>
                </div>  
            </form>
            <div class="container mt-2">
                <a routerLink="/Register" class="btn active w-50 mt-1">Create account</a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #3b5998" href="#!" role="button">
                    <i class="fab fa-facebook-f">Continue with Facebook</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #dd4b39" href="#!" role="button">
                    <i class="fab fa-google">Continue with Google</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #55acee" href="#!" role="button">
                    <i class="fab fa-twitter">Continue with Twitter</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #ac2bac" href="#!" role="button">
                    <i class="fab fa-instagram">Continue with Instagram</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #0082ca" href="#!" role="button">
                    <i class="fab fa-linkedin-in">Continue with LinkedIn</i>
                </a><br>
                <a class="btn btn-primary w-50 mt-1" style="background-color: #333333" href="#!" role="button">
                    <i class="fab fa-github">Continue with Github</i>
                </a><br>
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid p-4">
    <div class="row fixed-bottom">
        <div class="col text-center p-3">
            <button class="btn btn-danger" (click)="openReportOutageModal(content)">Report outage</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Report outage</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reportOutageForm" (ngSubmit)="submitReport()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="reason-select">
                        <mat-label>Reason</mat-label>
                        <mat-select id="reason" name="reason" matInput formControlName="reason">
                            <mat-option value="Nema struje">Nema struje</mat-option>
                            <mat-option value="Postoji kvar">Postoji kvar</mat-option>
                            <mat-option value="Treperenje svetla">Treperenje svetla</mat-option>
                            <mat-option value="Povratak struje">Povratak struje</mat-option>
                            <mat-option value="Delemicna struja">Delimicna struja</mat-option>
                            <mat-option value="Problemi s naponom">Problemi s naponom</mat-option>
                        </mat-select>
                        <mat-error id="reason-error" *ngIf="reportOutageForm.get('reason')?.invalid">Reason is required!</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="address-form-field" class="form-field">
                        <mat-label>Address</mat-label>
                        <mat-select id="address" name="address" matInput formControlName="address">
                            <mat-option *ngFor="let address of allAddresses" [value]="address.addressID">{{address.postalNumber + ', ' + address.city + ', ' + address.street + ' ' + address.number}}</mat-option>
                        </mat-select>
                        <mat-error id="address-error" *ngIf="reportOutageForm.get('address')?.invalid">Address is required!</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="comment-form-field" class="form-field">
                        <mat-label>Comment</mat-label>
                        <input id="comment" matInput type="text"  formControlName ="comment">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="name-form-field" class="form-field">
                        <mat-label>First name</mat-label>
                        <input id="name" matInput type="text"  formControlName ="name">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field id="lastName-form-field" class="form-field">
                        <mat-label>Last name</mat-label>
                        <input id="lastName" matInput type="text"  formControlName ="lastName">
                    </mat-form-field>
                </div>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="submitReport()" [disabled]="!reportOutageForm.valid">Submit report</button>
    </div>
</ng-template>