<form [formGroup]="submitImageForm" (ngSubmit)="submitImage()" class="container">
    <div class="row">
        <div class="col">
            <div class="form-group text-center">
                <img [src]="imageSrc" class="img-fluid img-thumbnail w-75">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group text-center">
                <input type="file" formControlName="image" name="image" id="image" (change)="onChange($event)" class="form-control-file btn-info mt-3">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-success" (click)="submitImage()" [disabled]="!submitImageForm.valid">Submit image</button>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngFor="let path of allImages">
            <img src="http://localhost:61791/{{path}}" class="img-fluid img-thumbnail w-75">
        </div>
    </div>
</form>