<div class="container mt-3">
    <div class="row">
        <div class="col-3">
        <div class="container">
            <a routerLink="IncidentBasicInfo">
                <div class="row field">
                    Basic information
                </div>
            </a>
            <a routerLink="IncidentDevices">
                <div class="row field">
                    Devices
                </div>
            </a>
            <a routerLink="IncidentResolution">
                <div class="row field">
                    Resolution
                </div>
            </a>
            <a routerLink="IncidentCalls">
                <div class="row field">
                    Calls
                </div>
            </a>
            <a routerLink="">
                <div class="row field">
                    Crew
                </div>
            </a>
            <a routerLink="IncidentMultimedia">
                <div class="row field">
                    MultiMedia attachments
                </div>
            </a>
            <a routerLink="">
                <div class="row field">
                    Equipment
                </div>
            </a>
        </div>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
        
       
        
    </div>
</div>
