<div class="container mt-5">
    <div class="col-md-5 col-sm-6 col-xs-6">
        <div class="col-10">
            <div class="list-group">
                <a (click)="showAllNotifications()" class="list-group-item list-group-item-action">All notifications</a>
                <a (click)="showUnreadNotifications()" class="list-group-item list-group-item-action">Unread notifications</a>
                <a (click)="showErrors()" [hidden]="!settings.errorEnabled" class="list-group-item list-group-item-action">Errors</a>
                <a (click)="showInfos()" [hidden]="!settings.infoEnabled" class="list-group-item list-group-item-action">Info</a>
                <a (click)="showSuccesses()" [hidden]="!settings.successEnabled" class="list-group-item list-group-item-action">Success</a>
                <a (click)="showWarnings()" [hidden]="!settings.warningEnabled" class="list-group-item list-group-item-action">Warning</a>
            </div>
            <div class="row mt-3">
                <div class="col-7 text-left">
                    <button (click)="markAllAsRead()" class="btn btn-success">Mark all as read</button>
                </div>
                <div class="col-5 text-right">
                    <button (click)="clearToast()" class="btn btn-danger">Clear all</button>
                </div>
            </div>
        </div>
        
    </div>
</div>