<div class="container mt-2">
    <div class="row">
        <div class="col-md-12 text-left">
            <button class="btn btn-success" routerLink="../AddingTeamsNew">New</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="mat-elevation-z8">
                <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Team</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <label>Id</label>
                                <input type="text" name="idinput" class="form-control" value="{{ id }}" [readonly]="true">
                            </div>
                            <div class="col-6">
                                <form [formGroup]="creatingTeamForm">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input  value="{{ name }}" [readonly]=" view =='View'" formControlName="name" type="text" name="name" id="name" class="form-control"/>
                                    </div>
                                </form>
                                <!--label>Name</label>
                                <input type="text" class="form-control" value="{{ name }}" [readonly]=" view =='View'"-->   
                            </div>
                        </div>
                        <div class="row" *ngIf="view =='View'">
                            <div class="col-12">
                                <h5>Team members</h5>            
                                <div class="example-list overflow-auto" style="max-height: 400px;">
                                    <div class="container-fluid" *ngFor="let item of teamMembers" cdkDrag>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card" style="height: 110px;">
                                                    <div class="card-horizontal">
                                                        <div class="img-square-wrapper">
                                                            <div *ngIf="item.productImage !== undefined">
                                                                <img src="http://localhost:61791/{{item!.productImage!.imagePath}}" width="110px" height="110px" class="" alt="Card image cap">
                                                            </div>
                                                            <div *ngIf="item.productImage === undefined">
                                                                <img src="../../../assets/profil.png" width="110px" height="110px" class="" alt="Card image cap">
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-text">{{item.userName}}</h5>
                                                            <p class="card-text">{{item.firstName}} {{item.lastName}}<br>{{item.email}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="view !='View'">
                            <div class="col-6">
                                <h5>Team members</h5>
                                
                                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="teamMembers" [cdkDropListConnectedTo]="[doneList]" class="example-list overflow-auto" style="max-height: 400px;" (cdkDropListDropped)="drop($event)">
                                    <div class="container-fluid" *ngFor="let item of teamMembers" cdkDrag>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card" style="height: 110px;">
                                                    <div class="card-horizontal">
                                                        <div class="img-square-wrapper">
                                                            <!--img class="" src="../../../../assets/profil.png" width="110px" height="110px" alt="Card image cap"-->
                                                            <div *ngIf="item.productImage !== undefined">
                                                                <img src="http://localhost:61791/{{item!.productImage!.imagePath}}" width="110px" height="110px" class="" alt="Card image cap">
                                                            </div>
                                                            <div *ngIf="item.productImage === undefined">
                                                                <img src="../../../assets/profil.png" width="110px" height="110px" class="" alt="Card image cap">
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-text">{{item.userName}}</h5>
                                                            <p class="card-text">{{item.firstName}} {{item.lastName}}<br>{{item.email}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h5>All members</h5>
                    
                                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="allMembers" [cdkDropListConnectedTo]="[todoList]" class="example-list overflow-auto" style="max-height: 485px;" (cdkDropListDropped)="drop($event)">
                                    <div class="container-fluid" *ngFor="let item of allMembers" cdkDrag>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card" style="height: 110px;">
                                                    <div class="card-horizontal">
                                                        <div class="img-square-wrapper">
                                                            <!--img class="" src="../../../../assets/profil.png" width="110px" height="110px" alt="Card image cap"-->
                                                            <div *ngIf="item.productImage !== undefined">
                                                                <img src="http://localhost:61791/{{item!.productImage!.imagePath}}" width="110px" height="110px" class="" alt="Card image cap">
                                                            </div>
                                                            <div *ngIf="item.productImage === undefined">
                                                                <img src="../../../assets/profil.png" width="110px" height="110px" class="" alt="Card image cap">
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-text">{{item.userName}}</h5>
                                                            <p class="card-text">{{item.firstName}} {{item.lastName}}<br>{{item.email}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" *ngIf="view !='View'">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                      </div>
                </ng-template>
                <ng-template #contentDelete let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-delete">Delete team</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delte the team with the ID: {{deleteTeam.id}} ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="deleteTeamConfirm()">Delete</button>
                      </div>
                </ng-template>
                <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="members">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Members </th>
                        <td mat-cell *matCellDef="let element"> {{element.members}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
                        <tr>
                          <td mat-cell *matCellDef="let row" style="width:20%">
                            <button mat-icon-button class="btn-primary" (click)="viewEditTeam(content, row, 'View')" title="View Team"><mat-icon>preview</mat-icon></button>
                            <button mat-icon-button class="btn-warning" (click)="viewEditTeam(content, row, 'Edit')" title="Edit Team"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button class="btn-danger" (click)="delete(row, contentDelete) " title="Delete Team"><mat-icon>delete</mat-icon></button>
                          </td>
                        <tr>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[2, 3, 4]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>
