<form [formGroup]="workAccountForm" (ngSubmit)="submitWorkAccount()" class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="type">Type</label>
                <select formControlName="type" (change)="typeChanged($event)" type="text" name="type" id="type" class="form-control">
                    <option value="Planned">Planned work</option>
                    <option value="Unpplaned">Unpplaned work</option>
                </select>
                <div class="alert alert-danger" *ngIf="type!.invalid && type!.touched">
                    <div *ngIf="type!.errors!.required">Type is required.</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="state">State</label>
                <select formControlName="state" (change)="stateChanged($event)" type="text" name="state" id="state" class="form-control">
                    <option value="Draft">Draft</option>
                    <option value="Approve">Approve</option>
                    <option value="Deny">Deny</option>
                    <option value="Cancel">Cancel</option>
                </select>
                <div class="alert alert-danger" *ngIf="state!.invalid && state!.touched">
                    <div *ngIf="state!.errors!.required">State is required.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>Incident</label>
                <select formControlName="incident" type="text" name="incident" id="incident" class="form-control">
                    <option *ngFor="let incident of allIncidents" [value]="incident.id">{{ incident.id }}</option>
                </select>
                <div class="alert alert-danger" *ngIf="incident!.invalid && incident!.touched">
                    <div *ngIf="incident!.errors!.required">Address is required.</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-check checkbox-margin">
                <input formControlName="urgentWork" class="form-check-input big-checkbox" type="checkbox" value="" name="urgentWork" id="urgentWork" (change)="emergencyWorkChanged($event)">
                <label class="form-check-label" style="font-size: 16px;" for="urgentWork">
                    Emergency work
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <select formControlName="address" (change)="addressChanged($event)" type="text" name="address" id="address" class="form-control">
                            <option *ngFor="let address of allAddresses" [value]="address.addressID">{{address.street}} {{address.number}}</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="address!.invalid && address!.touched">
                            <div *ngIf="address!.errors!.required">Address is required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <!--label for="addressNumber">Number</label>
                    <select formControlName="addressNumber" type="number" name="addressNumber" id="addressNumber" (change)="addressNumberChanged($event)" class="form-control">
                        <option value="Planned">123</option>
                        <option value="Unpplaned">23</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="addressNumber!.invalid && addressNumber!.touched">
                        <div *ngIf="addressNumber!.errors!.required">Required.</div>
                    </div-->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="startDate">Start date</label>
                <input formControlName="startDate" type="date" name="startDate" id="startDate" (change)="startDateChanged($event)" class="form-control"/>
                <div class="alert alert-danger" *ngIf="startDate!.invalid && startDate!.touched">
                    <div *ngIf="startDate!.errors!.required">Start date is required.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="endDate">End date</label>
                <input formControlName="endDate" type="date" name="endDate" id="endDate" (change)="endDateChanged($event)" class="form-control"/>
                <div class="alert alert-danger" *ngIf="endDate!.invalid && endDate!.touched">
                    <div *ngIf="endDate!.errors!.required">End date is required.</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>Creator</label>
                <p class="form-control" style="font-weight: 600;">{{ fullName }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="company">Company</label>
                <input formControlName="company" type="text" name="company" id="company" (change)="companyChanged($event)" class="form-control"/>
                <div class="alert alert-danger" *ngIf="company!.invalid && company!.touched">
                    <div *ngIf="company!.errors!.required">Company is required.</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="phoneNomber">Phone number</label>
                <input formControlName="phoneNumber" type="text" name="phoneNumber" id="phoneNumber" class="form-control"/>
                <div class="alert alert-danger" *ngIf="phoneNumber!.invalid && phoneNumber!.touched">
                    <div *ngIf="phoneNumber!.errors!.required">Phone number is required.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="purpose">Purpose</label>
                <input formControlName="purpose" type="text" name="purpose" id="purpose" (change)="purposeChanged($event)" class="form-control"/>
                <div class="alert alert-danger" *ngIf="purpose!.invalid && purpose!.touched">
                    <div *ngIf="purpose!.errors!.required">Purpose is required.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="notes">Notes</label>
                <input formControlName="notes" type="text" name="notes" id="notes" (change)="notesChanged($event)" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Creation date</label>
                <div style="font-weight: 600;">
                    {{currentDate.toLocaleString().toLocaleString().split(',')[0]}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-success" (click)="submitWorkAccount()" [disabled]="!workAccountForm.valid">Submit report</button>
        </div>
    </div>
</form>