<form [formGroup]="DocumentBasicInfo" class="container" (ngSubmit)="saveDocBasicInfo()">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="documentType">Document Type</label>
                <select formControlName="documentType" type="text" name="documentType" id="documentType" class="form-contol">
                    <option value="Planned" selected>Planned Work</option>
                    <option value="Unplanned">Unplanned Work</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="phoneNum">Phone No:</label>
                <input type="text" formControlName="phoneNum" name="phoneNum" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="status">Status:</label>
                <input type="text" formControlName="status" name="status" class="form-control" readonly value="Draft" placeholder="Draft">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="crew">Crew:</label>
            <input type="number" formControlName="crew" name="crew" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="switchPlan">Switching plan:</label>
                <input type="number" formControlName="switchPlan" name="switchPlan" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="dateCreated">Date created:</label>
                <input type="date" formControlName="dateCreated" class="form-control" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="author">Created by:</label>
                <input type="text" formControlName="author" class="form-control" readonly value="{{username}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="details">Details:</label>
                <input type="text" formControlName="details" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="notes">Notes:</label>
                <input type="text" formControlName="notes" class="form-control">
            </div>
        </div>
    </div>
    <button type="submit">Save</button>
    
</form>