<form [formGroup]="workPlanForm" (ngSubmit)="submitWorkPlan()" class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="type-select" appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select id="type" name="type" matInput formControlName="type">
                        <mat-option value="Planned">Planned work</mat-option>
                        <mat-option value="Unpplaned">Unpplaned work</mat-option>
                    </mat-select>
                    <mat-error id="type-error" *ngIf="workPlanForm.get('type')?.invalid">Type is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="status-form-field" class="form-field" appearance="outline">
                    <input matInput type="text" disabled placeholder="Draft">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="incident-form-field" class="form-field" appearance="outline">
                    <mat-label>Incident</mat-label>
                    <mat-select id="incident" name="incident" matInput formControlName="incident">
                        <mat-option *ngFor="let incidnetID of allIncidents" [value]="incidnetID.id">{{incidnetID.id}}</mat-option>
                    </mat-select>
                    <mat-error id="incident-error" *ngIf="workPlanForm.get('incident')?.invalid">Incident is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="address-form-field" class="form-field" appearance="outline">
                    <mat-label>Address</mat-label>
                    <mat-select id="address" name="address" matInput formControlName="address">
                        <mat-option *ngFor="let address of allAddresses" [value]="address.addressID">{{address.postalNumber + ', ' + address.city + ', ' + address.street + ' ' + address.number}}</mat-option>
                    </mat-select>
                    <mat-error id="address-error" *ngIf="workPlanForm.get('address')?.invalid">Address is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="startDate-form-field" class="form-field" appearance="outline">
                    <mat-label>Start date</mat-label>
                    <input id="startDate" matInput type="date"  formControlName ="startDate">
                    <mat-error id="startDate-error" *ngIf="workPlanForm.get('startDate')?.invalid">Start date is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="endDate-form-field" class="form-field" appearance="outline">
                    <mat-label>End date</mat-label>
                    <input id="endDate" matInput type="date"  formControlName ="endDate">
                    <mat-error id="endDate-error" *ngIf="workPlanForm.get('endDate')?.invalid">End date is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="team-form-field" class="form-field" appearance="outline">
                    <mat-label>Team</mat-label>
                    <mat-select id="team" name="team" matInput formControlName="team">
                        <mat-option *ngFor="let teamID of allTeams" [value]="teamID.id">{{teamID.id}}</mat-option>
                    </mat-select>
                    <mat-error id="team-error" *ngIf="workPlanForm.get('team')?.invalid">Team is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="creator-form-field" class="form-field" appearance="outline">
                    <input matInput type="text" disabled [placeholder]="user.firstName + ' ' + user.lastName">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="company-form-field" class="form-field" appearance="outline">
                    <mat-label>Company</mat-label>
                    <input id="company" matInput type="text"  formControlName ="company">
                    <mat-error id="company-error" *ngIf="workPlanForm.get('company')?.invalid">Company is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <mat-form-field id="phoneNomber-form-field" class="form-field" appearance="outline">
                    <mat-label>Phone number</mat-label>
                    <input id="phoneNombe" matInput type="number"  formControlName ="phoneNomber">
                    <mat-error id="phoneNomber-error" *ngIf="workPlanForm.get('phoneNomber')?.invalid">Phone number is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <mat-form-field id="purpose-form-field" class="form-field" appearance="outline">
                    <mat-label>Purpose</mat-label>
                    <input id="purpose" matInput type="text"  formControlName ="purpose">
                    <mat-error id="purpose-error" *ngIf="workPlanForm.get('purpose')?.invalid">Purpose is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <mat-form-field id="notes-form-field" class="form-field" appearance="outline">
                    <mat-label>Notes</mat-label>
                    <input id="notes" matInput type="text"  formControlName ="notes">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Creation date</label>
                <div style="font-weight: 600;">
                    {{currentDate.toLocaleString().toLocaleString().split(',')[0]}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-success" (click)="submitWorkPlan()" [disabled]="!workPlanForm.valid">Submit report</button>
        </div>
    </div>
</form>