<form [formGroup]="editForm" (ngSubmit)="submitEdit()" class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="page-header mb-4 mt-3">
                        <h2>Account details</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group text-center">
                        <div *ngIf="currentUser !== undefined && pictureSelected === false">
                            <img src="http://localhost:61791/{{currentUser!.productImage!.imagePath}}" class="img-fluid img-thumbnail w-75">
                        </div>
                        <div *ngIf="currentUser === undefined || pictureSelected === true">
                            <img [src]="imageSrc" class="img-fluid img-thumbnail w-75">
                        </div>
                        <input type="file" formControlName="picture" name="picture" id="picture" (change)="onChange($event)" class="form-control-file btn-info mt-3">
                    </div> 
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field id="username-form-field" class="form-field" appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input id="username" matInput type="text"  formControlName ="username" [placeholder]="currentUser!.userName">
                                    <mat-error id="username-error" *ngIf="editForm.get('username')?.invalid">Username shouled be minimum {{ username!.errors!.minlength.requiredLength }} characters!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field id="email-form-field" class="form-field" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input id="email" matInput type="text"  formControlName ="email" [placeholder]="currentUser!.email">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field id="name-form-field" class="form-field" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input id="name" matInput type="text"  formControlName ="name" [placeholder]="currentUser!.firstName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field id="lastname-form-field" class="form-field" appearance="outline">
                                    <mat-label>Lastname</mat-label>
                                    <input id="lastname" matInput type="text"  formControlName ="lastname" [placeholder]="currentUser!.lastName">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field id="dateOfBirth-form-field" class="form-field" appearance="outline">
                                    <mat-label>Date of birth</mat-label>
                                    <input id="dateOfBirth" matInput type="date"  formControlName ="dateOfBirth" [placeholder]="currentUser!.birthDate.toString()">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field id="address-form-field" class="form-field" appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <mat-select id="address" name="address" matInput formControlName="address">
                                        <mat-option *ngFor="let address of allAddresses" [value]="address.addressID">{{address.postalNumber + ', ' + address.city + ', ' + address.street + ' ' + address.number}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field id="role-select" appearance="outline">
                                    <mat-label>Role</mat-label>
                                    <mat-select id="role" name="reason" matInput formControlName="role" [(value)]="currentUser.role">
                                        <mat-option value="TeamMember">Team member</mat-option>
                                        <mat-option value="Dispatcher">Dispatcher</mat-option>
                                        <mat-option value="Worker">Worker</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary btn-block mt-3" value="Change" [disabled]="!hasInput()"/>
                </div>
            </div>
        </div>
    </div>
</form>