<div class="container mt-3">
    <div class="row">
        <div class="col-3">
        <div class="container">
            <a routerLink="DocumentBasicInfo">
                <div class="row field">
                    Basic information
                </div>
            </a>
            <a routerLink="">
                <div class="row field">
                    History of state changes
                </div>
            </a>
            <a routerLink="">
                <div class="row field">
                    Multimedia attachments
                </div>
            </a>
            <a routerLink="">
                <div class="row field">
                    Equipment
                </div>
            </a>
            <a routerLink="">
                <div class="row field">
                    Checklist
                </div>
            </a>
           
        </div>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
        
       
        
    </div>
</div>