<form [formGroup]="DocumentsChecklist">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="operationComplete">All work operations completed?</label>
                <input type="checkbox" name="operationComplete" formControlName="operationComplete" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label for="tagsRemoved">All tags removed?</label>
            <input type="checkbox" formControlName="tagsRemoved" class="form-control" name="tagsRemoved">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label for="groundingRemoved">All tags removed?</label>
            <input type="checkbox" formControlName="groundingRemoved" class="form-control" name="groundingRemoved">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label for="serviceReady">All tags removed?</label>
            <input type="checkbox" formControlName="serviceReady" class="form-control" name="serviceReady">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button type="submit">Save</button>
        </div>
    </div>

    
</form>
